html,body{
    height: 100%;
    margin: 0;
    overflow:hidden;
    background-color: #f1f1f1;
    background-image: url(../images/background1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

/***
    COMMON
***/

.float_left {
    float:left;
}
.float_right {
    float:right;
}
.to_hide_when_not_ready {
    display:none;
}

/***
    COMMON BUTTONS DESCRIPTION
***/

button{
    border: none;
    color: #767676;
    background: transparent;
    font-size: 35px;
    height: 80px;
    width: 80px;
}
button:active{
    color: rgb(25, 0, 255);
}
button:focus {
    outline:0;
}
::-webkit-scrollbar {
    display:none;
}

/***
    HEADER BAR
***/

#header_div{
    position:relative;
    top:0;
    height:180px;
}
#header_logo{
    position:relative;
    top:20%;
    height: 80%;
    color: black;
    text-align: center;
    margin-left: 100px;
    font-size: 200px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif; 
}
#header_audio_dropdown{
    width: 270px;
    top:0;
    margin-top:57px;
    margin-right: 20px;
    background-color: transparent;
    border:none;
    border-radius: 0px;
    text-align: center;
}
#header_audio_dropdown>button{
    color: #607a84;
}
#button_unmute{
    background-image: url(../images/conversation-active.png);
    background-size: 48px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#button_mute{
    background-image: url(../images/conversation-inactive.png);
    background-size: 48px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#button_volume_up{
    background-image: url(../images/volume-up.png);
    background-size: 48px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#button_volume_down{
    background-image: url(../images/volume-down.png);
    background-size: 48px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
/***
    MAIN BUTTONS BAR
***/

#content_div {
    width: 80%;
    margin: 50px 10%;
    height: 520px;
}
#content_loading_div{
    height: 100%;
    background-image: url(../images/loading.gif);
    background-size: 120px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#content_sleeping_div{
    height: 280px;
    width: 470px;
    margin: 110px auto;
    background-image: url(../images/sleeping.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#content_ready_div {
    height:100%;
    text-align:center;
}
#content_ready_div>div {
    height:100%;
}
.dynamic_pageHome_line1_div {
    margin-top: 0px;
    text-align: center;
}
.dynamic_pageHome_line2_div {
    margin-top: -40px;
}
.line2_div_right {
    margin-left:110px;
    margin-right:-110px;
}
#dynamic_pageHome_div {
    margin-top:20%;
    text-align: center;
}
.dynamic_pageHome_app_button {
    margin-left:5px;
    margin-right:5px;
    display: inline-block;
}

.dynamic_pageHome_app_button>div{
    font-size: 30px;
    width: 250px;
    height:150px;
    background-color: rgba(0,0,0,0.8);
    color: #f3f6fe;
    text-align: center;
    white-space: normal;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50px;
}

.dynamic_page_line1_div {
    /* margin-top: -35px; */
    /* margin-top:20px; */
}
.dynamic_page_line2_div {
    margin-top: -42px;
}
.dynamic_page_app_button {
    /* top:300px; */
    margin:10px;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    text-align: center;
}
.dynamic_page_app_button>img{
    /* height: 200px; */
    width: 200px;
    height:auto;
}
.dynamic_page_app_button>div{
    font-size:25px;
    color:black;
}

#content_popup_div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
}

.popup{
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

/***
    FOOTER BAR
***/

#footer_div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
}
#footer_all_apps_dropdown {
    width: 1240px;
    right: 20px;
    bottom: 60px;
    max-height: 710px;
    border-radius: 0px;
    overflow-y: scroll;
    text-align: center;
}
.dynamic_all_apps_dropdown_app_div {
    width: 215px;
    margin: 10px;
    text-align: center;
    display: inline-table;
}
.dynamic_all_apps_dropdown_app_div>img {
    border: none;
    background: transparent;
    outline-style:none;
    height: 150px;
    width: 150px;
}
.dynamic_all_apps_dropdown_app_div>div{
    font-size:20px;
}
